<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url"><![CDATA[jdbc:mysql://localhost:3306/onlinetest?serverTimezone=GMT]]></property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
      <mapping class="cn.com.OnlineTest.model.Course"/>
      <mapping class="cn.com.OnlineTest.model.Paper"/>
      <mapping class="cn.com.OnlineTest.model.Pjclass"/>
      <mapping class="cn.com.OnlineTest.model.Role"/>
      <mapping class="cn.com.scitc.graduationproject.model.Studentpaper"/>
      <mapping class="cn.com.OnlineTest.model.Studentsubject"/>
      <mapping class="cn.com.OnlineTest.model.Subject"/>
      <mapping class="cn.com.OnlineTest.model.Type"/>
      <mapping class="cn.com.OnlineTest.model.Users"/>
      <mapping class="cn.com.OnlineTest.model.Exam"/>
      <mapping class="cn.com.OnlineTest.model.Studentexam"/>
      <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>