
<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:replace="include/bootstrap :: bootstrap"></div>
</head>
<body>
<div th:replace="include/TeacherNav :: TeacherNav"></div>
<script type="text/javascript">
    $(function(){
        $("#allAndNotAll").click(function() {
            if (this.checked){
                $("input[name='items']:checkbox").each(function(){
                    $(this).attr("checked", true);
                });
            } else {
                $("input[name='items']:checkbox").each(function() {
                    $(this).attr("checked", false);
                });
            }
        });

        $('#getAllSelectedId').click(function(){
            var ids=new Array();
            $("input[name='items']:checked").each(function(){
                ids.push($(this).attr("id"));
            });
            if(ids==""){
                alert("Please choose data to delete!")
            }else {
                location.href = "deleteManyStu?ids="+ids;
            }

        });
    });
    function deleteAll() {
        if(confirm('Data will be deleted, please confirm')){
            window.location  = "/deleteAll";
        }

    }
</script>
<div class="table-responsive" style="margin-left: 18%">
    <table class="table table-striped"  >
        <thead>
        <tr>
            <th colspan="7"><button class="line btn btn-primary btn-sm" type="button" onclick="add()">Add student</button>
                &nbsp;&nbsp;&nbsp; <button class="line btn btn-primary btn-sm" id="getAllSelectedId" >Batch deletion</button>
            &nbsp;&nbsp;&nbsp; <button class="line btn btn-primary btn-sm" id="deleteAll" onclick="deleteAll()" >Delete all data</button>
                &nbsp;&nbsp;&nbsp;My class：  <span th:text="${pj.classname}"></span></th>
        </tr>
        <tr>
            <td ><input type="checkbox" id="allAndNotAll" />Select All/Deselect</td>
            <th>ID</th>
            <th>Student ID</th>
            <th>Password</th>
            <th>Name</th>
            <th>Function</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="stulist: ${pageInfo.getContent()}">
            <td><input type="checkbox" name="items" th:id="${stulist.userid}"/></td>
            <td th:text="${stulist.userid}"></td>
            <td th:text="${stulist.username}"></td>
            <td th:text="${stulist.userpwd}"></td>
            <td th:text="${stulist.truename}"></td>
            <td>
                <a th:onclick="'javascript:edit(\''+${stulist.userid}+'\');'" style="text-decoration: none;">
                    <button class="btn btn-default" style="width: 50px;height: 30px;background: #3e8f3e">Modify</button>
                </a>
                <a th:href="@{'./DeleteStu?userid='+${stulist.userid}}">
                    <button class="btn btn-default" style="width: 50px;height: 30px;background: red">
                        Delete
                    </button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="row" style="margin-left: 18%">
    <div class="col-md-6">Present <span th:text="${pageInfo.getNumber()} + 1"></span>Page,total<span th:text="${pageInfo.totalPages}"></span>
        page,total <span th:text="${pageInfo.totalElements}"></span> questions</div>
    <div class="col-md-6">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li><a th:href="@{/StudentList}">Main page</a></li>
                <li><a th:href="@{/StudentList(pageNum = ${pageInfo.hasPrevious()} ? ${pageInfo.getNumber() } : 1)}">Previous page</a></li>
                <li><a th:href="@{/StudentList(pageNum = ${pageInfo.hasNext()} ? ${pageInfo.getNumber()} + 2 : ${pageInfo.totalPages})}">Next page</a></li>
                <li><a th:href="@{/StudentList(pageNum = ${pageInfo.totalPages})}">Final page</a></li>
            </ul>
        </nav>
    </div>
</div>
</div>
<div class="modal fade" id="addch" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="my" style="text-align:center">Add class</h4>
            </div>
            <form class="form-horizontal" th:action="@{/addStu}" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Student ID</label>
                        <div class="col-sm-10">
                        <input type="text" name="username" class="form-control" id="username"
                        placeholder="">
                        <span class="help-block"></span>
                        </div>
                        </div>
                        <div class="form-group ">
                        <label class="col-sm-2 control-label">Name</label>
                        <div class="col-sm-10">
                        <input type="text" name="truename" class="form-control" id="truename"
                        placeholder="">
                        <span class="help-block"></span>
                        </div>
                        </div>
                        <div class="form-group ">
                        <label class="col-sm-2 control-label">Password</label>
                        <div class="col-sm-10">
                        <input type="text" name="userpwd" class="form-control" id="userpwd"
                        placeholder="">
                        <span class="help-block"></span>
                        </div>
                        </div>
                        <div class="form-group">
                        <label class="col-sm-2 control-label">Class</label>
                        <div class="col-sm-5">
                        <select name="classid" >
                        <option name="classid" th:each="pjclass : ${list}" th:value="${pjclass.classid}" th:text="${pjclass.classname}"></option>
                        </select>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" id="addbut">Submit</button>
                </div>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="studit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="Label">Modify</h4>
            </div>
            <form class="form-horizontal" th:action="@{/updateStu}" method="post">
                <div class="modal-body">
                    <input name="userid" id="userid1" hidden="hidden"/>
                    <input name="roleid" id="roleid1" hidden="hidden"/>
                    <div class="form-group">
                    <label class="col-sm-2 control-label">Student ID</label>
                    <div class="col-sm-10">
                    <input type="text" name="username" class="form-control" id="username1"/>
                    <span class="help-block"></span>
                    </div>
                    </div>
                    <div class="form-group ">
                    <label class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-10">
                    <input type="text" name="truename" class="form-control" id="truename1"
                    placeholder="">
                    <span class="help-block"></span>
                    </div>
                    </div>
                    <div class="form-group ">
                    <label class="col-sm-2 control-label">Password</label>
                    <div class="col-sm-10">
                    <input type="text" name="userpwd" class="form-control" id="userpwd1"
                    placeholder="">
                    <span class="help-block"></span>
                    </div>

                    </div>
                    <div class="form-group">
                    <label class="col-sm-2 control-label">Class</label>
                    <div class="col-sm-5">
                    <select class="form-control" id="classid1" name="classid">
                    </select>
                    </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" id="tch_save_btn">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script>

    function add() {
        $("#addch").modal({
            backdrop: "static"
        });
    }

    function edit(userid) {
        $.ajax({
            url: '/findAllClass',
            type: 'POST',
            success: function (data) {
                for (var i = 0; i < data.length; i++) {
                    $("#classid1").append("<option value='" + data[i].classid + "'>" + data[i].classname + "</option>");
                }
            }
        });
        if (!userid) {
            alert("error");
        } else {
            $.ajax({
                url: '/StuEdit',
                type: 'POST',
                dataType: 'json',
                contentType: 'application/json;charset=UTF-8',
                data: JSON.stringify({
                   userid: userid
                }),
                success: function (data) {
                    console.log("Teacher" + data);
                    $("#userid1").val(data.userid);
                    console.log("ID"+data.roleid)
                    $("#roleid1").val(data.roleid);
                    $("#username1").val(data.username);
                    $("#truename1").val(data.truename);
                    $("#userpwd1").val(data.userpwd);
                    $("#classid1").val(data.classid);
                    $("#studit").modal('show');
                },
                error: function () {
                    alert("Error");
                }
            });
        }
    }
</script>

</body>
</html>